body {
    background-color: rgb(49, 49, 49);
}

.searchbox {
    border: none;
    background-color: rgb(49, 49, 49);
    color: aqua;
    outline: none;
    resize: none;
    position: relative;
    top: -6.1%;
    left: 11.5%;
}

.maintext {
    color: rgb(0, 165, 0);
}

.blue {
    color: aqua;
}

.red {
    color: red;
}